<a href="{{feature.videoUrl}}" alt="{{feature.name}}" class="poster {{(class is defined)? class : ""}}" >
	<div>
		<img width="170" height="255" src="{{feature.url}}" />
		<img width="170" height="255" src="{{feature.thumbnail}}" />
		<div>
			<span>{{feature.name}}</span>
		</div>
	</div>
</a>