{% extends "AppBundle::layout.html.twig" %}
{% block body%}
<style type="text/css">
    table {
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #tableForm {
        height: 500px;
        overflow-y: auto;
        text-align: center;
    }

    #searchSection {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    #filterSection {
        padding-bottom: 30px;
    }

    #filterSection span {
        float: left;
    }

    #searchSectionTitle {
        padding-top: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-offset-2 col-md-10">
            <div class="card">
                <div class="card-content">
                    <div class="row" id="searchSection">
                        <div class="col-md-4" id="searchSectionTitle">
                            <span>Search Twitch Games</span>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <input name="q" value="{{app.request.query.get("q")}}" type="text" class="search-input" placeholder="Name or ID">
                                <button class="btn btn-sm search-btn" id="searchBtn"><i class="material-icons" style="font-size: 30px;">search</i></button>
                            </form>
                        </div>
                    </div>
                    {{form_start(form)}}
                    <form method="#" action="#" id="tableForm">
                        <div class="row" id="filterSection">
                            <div class="col-md-4">
                                <span>Sort By:</span>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Viewers</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Hours Watched</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Live</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Peok Viewers</button>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        <table>
                            {% for game in game_list %}
                                <tr>
                                    <th style="width: 2%">
                                        <input type="checkbox" name="gameIds[]" id="{{game.id}}" value="{{loop.index}}">
                                    </th>
                                    <th style="width: 2%">
                                        #{{loop.index}}
                                    </th>
                                    <th style="width: 5%">
                                        <img src="{{game.box_art_url}}" name="gameArtUrl" id="gameArtUrl" style="width: 100%">
                                    </th>
                                    <th>
                                        <span name="gameName" id="gameName">{{game.name}}</span>
                                    </th>
                                </tr>
                            {% endfor %}
                        </table>
                        <span>
                            {{form_widget(form.save,{attr:{"class":"btn btn-fill btn-success"}})}}
                        </span>
                    
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        var label = $("label");
        label.remove();

        var game_title = $("#game_title");
        game_title.removeAttr("required");
        game_title.addClass("hidden");

        var ids = [];
        $("table :checkbox").change(function(e){
            if ($(this).is(":checked")) {
                var val = $(this)[0].id;
                ids.push(val);
            } else {
                var val = $(this)[0].id;
                const index = ids.indexOf(val);
                if (index > -1) {
                    ids.splice(index, 1);
                }
            }
            game_title.val(ids.toString());
        });
    });
    // $("#searchBtn").click(function(e) {
    //     e.preventDefault();
    //     var searcKey = $("input[name=q]").val();
    //     var game_list = {{ game_list|json_encode|raw }};
    //     var temp_search_list = [];
    //     for (var i = 0; i < game_list.length; i ++) {
    //         if (game_list[i].name.includes(searcKey)) {
    //             temp_search_list.push(game_list[i]);
    //         }   
    //     }

    //     game_list = [];
    //     game_list = temp_search_list;
    // });

    // $("#game_save").click(function(e) {
    //     e.preventDefault();

    //     var checks = $('input[type="checkbox"]:checked').map(function() {
    //         return $(this).val();
    //     }).get();

    //     var game_list = {{ game_list|json_encode|raw }};
    //     var games = [];
    //     for (var i = 0; i < checks.length; i++) {
    //         games.push(game_list[i]);
    //     }

    //     var formData = {
    //         "games" : "games"
    //     };

    //     $.ajax({
    //         type: "POST",
    //         url: "/admin/game/add.html",
    //         data: formData, // serializes the form's elements.
    //         success: function(data)
    //         {
                
    //         }
    //     });
    // })
</script>
{% endblock%}