<a href="{{game.videoUrl}}" alt="{{game.title}}" class="poster {{(class is defined)? class : ""}}" >
	<div>
		<img width="170" height="255" src="{{game.url}}" />
		<div>
			<span>{{game.title}}</span>
		</div>
	</div>
</a>