{% extends "AppBundle::layout.html.twig" %}
{% block body%}
<style type="text/css">
    table {
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #tableForm {
        height: 500px;
        overflow-y: auto;
        text-align: center;
    }

    #searchSection {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    #filterSection {
        padding-bottom: 30px;
    }

    #filterSection span {
        float: left;
    }

    #searchSectionTitle {
        padding-top: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-offset-2 col-md-10">
            <div class="card">
                <div class="card-content">
                    <div class="row" id="searchSection">
                        <div class="col-md-4" id="searchSectionTitle">
                            <span>Search Twitch Features</span>
                        </div>
                        <div class="col-md-8">
                            <form>
                                <input name="q" value="{{app.request.query.get("q")}}" type="text" class="search-input" placeholder="ID">
                                <button class="btn btn-sm search-btn" id="searchBtn"><i class="material-icons" style="font-size: 30px;">search</i></button>
                            </form>
                        </div>
                    </div>
                    {{form_start(form)}}
                    <form method="#" action="#" id="tableForm">
                        <div class="row" id="filterSection">
                            <div class="col-md-4">
                                <span>Sort By:</span>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Viewers</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Hours Watched</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Live</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-sm search-btn">Peok Viewers</button>
                                    </div>        
                                </div>
                            </div>
                        </div>
                        <table>
                            {% for feature in feature_list %}
                                <tr>
                                    <th style="width: 2%">
                                        <input type="checkbox" name="featureids[]" id="{{feature.id}},{{feature.video_url}}" value="{{loop.index}}">
                                    </th>
                                    <th style="width: 2%">
                                        #{{loop.index}}
                                    </th>
                                    <th style="width: 5%">
                                        <img src="{{feature.profile_image_url}}" name="feature_profile_image_url" id="feature_profile_image_url" style="width: 100%">
                                    </th>
                                    <th>
                                        <span name="feature_display_name" id="feature_display_name">{{feature.display_name}}</span>
                                    </th>
                                </tr>
                            {% endfor %}
                        </table>
                        <span>
                            {{form_widget(form.save,{attr:{"class":"btn btn-fill btn-success"}})}}
                        </span>
                    
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        var label = $("label");
        label.remove();

        var feature_name = $("#feature_name");
        feature_name.removeAttr("required");
        feature_name.addClass("hidden");

        var data = [];
        $("table :checkbox").change(function(e){
            if ($(this).is(":checked")) {
                var val = $(this)[0].id;
                var value = $(this)[0].value;
                var arr = val.split(",");
                var id = arr[0];
                var video_url = arr[1];

                var json = {
                    "value": value,
                    "id": id,
                    "video_url": video_url,
                };
                data.push(json);
            } else {
                var index = $(this)[0].value;

                for (var i = 0; i < data.length; i ++) {
                    if (data[i].value == index) {
                        data.splice(i, 1);       
                    }
                }
            }
            var str = '';
            for (var i = 0; i < data.length; i ++) {
                if (i == data.length - 1) {
                    str += JSON.stringify(data[i])    
                } else {
                    str += JSON.stringify(data[i]) + ",";   
                }
            }
            str = '[' + str + ']';
            console.log(str);
            feature_name.val(str);
        });
    });
</script>
{% endblock%}