<a href="{{channel.videoUrl}}" alt="{{channel.name}}" class="poster {{(class is defined)? class : ""}}" >
	<div>
		<img width="170" height="255" src="{{channel.url}}" />
		<div>
			<span>{{channel.name}}</span>
		</div>
	</div>
</a>