<a href="{{channel.videoUrl}}" alt="{{channel.name}}" class="poster {{(class is defined)? class : ""}}" >
	<div>
		<img width="170" height="255" src="{{channel.url}}" style="object-fit: cover; width: 300px !important; height: 200px !important" />
		<div>
			<span style="background: #9e1818 !important">LIVE</span>
		</div>
		<div style="padding-top: 140px">
			<span>{{channel.name}}</span>
		</div>
	</div>
</a>